<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ly.mapper.BookMapper2">
    <insert id="add1">
        insert into tbl_book (name, type, description)
        values (#{name}, #{type}, #{description})
    </insert>

    <select id="getById1" resultType="com.ly.pojo.Book">
        select *
        from tbl_book where id = #{id};
    </select>
    <select id="selectAll1" resultType="com.ly.pojo.Book">
        select *
        from tbl_book;
    </select>
    <select id="selectByCondition1" resultType="com.ly.pojo.Book">
        select *
        from tbl_book
        where name = #{name} and type = #{type}
    </select>

</mapper>